In [5]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import pandas as pd

In [1]:
#df_civil_liberty = pd.read_csv("https://raw.githubusercontent.com/new-york-civil-liberties-union/NYPD-Misconduct-Complaint-Database-Updated/main/CCRB%20Complaint%20Database%20Raw%2004.20.2021.csv")

In [2]:
#df_civil_liberty.head()

In [3]:
#df_civil_liberty.columns

In [113]:
#df2 = pd.read_json('https://data.cityofnewyork.us/resource/xyq2-jjkn.json')

#print(df.to_string())

In [62]:
# Most fitting dataset for project (allegations)
# The dataframe I want to work with (pro publica) make my df this frame
df = pd.read_csv("Data/allegations_202007271729.csv")

In [64]:
df.head()

,unique_mos_id,first_name,last_name,command_now,shield_no,complaint_id,month_received,year_received,month_closed,year_closed,...,mos_age_incident,complainant_ethnicity,complainant_gender,complainant_age_incident,fado_type,allegation,precinct,contact_reason,outcome_description,board_disposition
0,10004,Jonathan,Ruiz,078 PCT,8409,42835,7,2019,5,2020,...,32,Black,Female,38.0,Abuse of Authority,Failure to provide RTKA card,78.0,Report-domestic dispute,No arrest made or summons issued,Substantiated (Command Lvl Instructions)
1,10007,John,Sears,078 PCT,5952,24601,11,2011,8,2012,...,24,Black,Male,26.0,Discourtesy,Action,67.0,Moving violation,Moving violation summons issued,Substantiated (Charges)
2,10007,John,Sears,078 PCT,5952,24601,11,2011,8,2012,...,24,Black,Male,26.0,Offensive Language,Race,67.0,Moving violation,Moving violation summons issued,Substantiated (Charges)
3,10007,John,Sears,078 PCT,5952,26146,7,2012,9,2013,...,25,Black,Male,45.0,Abuse of Authority,Question,67.0,PD suspected C/V of violation/crime - street,No arrest made or summons issued,Substantiated (Charges)
4,10009,Noemi,Sierra,078 PCT,24058,40253,8,2018,2,2019,...,39,NaN,NaN,16.0,Force,Physical force,67.0,Report-dispute,Arrest - other violation/crime,Substantiated (Command Discipline A)

In [65]:
df.dtypes

unique_mos_id                 int64
first_name                   object
last_name                    object
command_now                  object
shield_no                     int64
complaint_id                  int64
month_received                int64
year_received                 int64
month_closed                  int64
year_closed                   int64
command_at_incident          object
rank_abbrev_incident         object
rank_abbrev_now              object
rank_now                     object
rank_incident                object
mos_ethnicity                object
mos_gender                   object
mos_age_incident              int64
complainant_ethnicity        object
complainant_gender           object
complainant_age_incident    float64
fado_type                    object
allegation                   object
precinct                    float64
contact_reason               object
outcome_description          object
board_disposition            object
dtype: object


Allegations data provided by [ProPublica](https://www.nyclu.org/en/campaigns/nypd-misconduct-database) Find the database of more than 12,000 civilian complaints filed against New York City police officers [here](https://www.propublica.org/datastore/dataset/civilian-complaints-against-new-york-city-police-officers)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33358 entries, 0 to 33357
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   unique_mos_id             33358 non-null  int64
 1   first_name                33358 non-null  object
 2   last_name                 33358 non-null  object
 3   command_now               33358 non-null  object
 4   shield_no                 33358 non-null  int64
 5   complaint_id              33358 non-null  int64
 6   month_received            33358 non-null  int64
 7   year_received             33358 non-null  int64
 8   month_closed              33358 non-null  int64
 9   year_closed               33358 non-null  int64
 10  command_at_incident       31814 non-null  object
 11  rank_abbrev_incident      33358 non-null  object
 12  rank_abbrev_now           33358 non-null  object
 13  rank_now                  33358 non-null  object
 14  rank_incident             33358 non-null  object
 15  mos_ethnicity             33358 non-null  object
 16  mos_gender                33358 non-null  object
 17  mos_age_incident          33358 non-null  int64
 18  complainant_ethnicity     28894 non-null  object
 19  complainant_gender        29163 non-null  object
 20  complainant_age_incident  28546 non-null  float64
 21  fado_type                 33358 non-null  object
 22  allegation                33357 non-null  object
 23  precinct                  33334 non-null  float64
 24  contact_reason            33159 non-null  object
 25  outcome_description       33302 non-null  object
 26  board_disposition         33358 non-null  object
dtypes: float64(2), int64(8), object(17)
memory usage: 6.9+ MB

### Dictionary

***
**Last Name:** Last name of officer named in the complaint.<br>
**First Name:** First name of officer named in the complaint.<br>
**Rank:** Rank of officer named in complaint at the time of the incident (e.g., Captain).<br>
**Command:** NYPD unit where the named officer was assigned at the time of the incident
(e.g., the 5th Precinct).<br>
**Incident Date:** Date on which the incident took place.<br>
**Complaint Category:** Category of misconduct within the CCRBâ€™s jurisdiction, which includes Force, Abuse of Authority, Discourtesy, and Offensive Language.<br>
**Allegation:** Short description of the action in the complaint (e.g., Gun Drawn).<br>
**CCRB Finding:** The CCRBâ€™s final evaluation of the complaint. Details can be found on the CCRB website.<br>
**NYPD Finding:** NYPD final disposition of the complaint.<br>
**Penalty:** NYPD penalty given to the officer named in the complaint.<br>
**Officer Race:** Race/ethnicity of officer named in the complaint.<br>
**Race of Impacted Person:** Self-reported race/ethnicity of the person impacted in the incident (only present for complaints processed after the year 2000).<br>
**Precinct Location:** NYPD precinct where the incident took place.<br>
**Employment Status:** Indicator of whether the officer is still active or retired.<br>
**Officer ID:** This is a unique number the CCRB creates and assigns to each officer about whom it receives a complaint. This number does not correspond to any number the NYPD assigns to officers, such as a badge number.<br>
**Incident ID:** This is a unique number the CCRB assigns to each incident about which it receives a complaint. Multiple officers may be the subject of a complaint about the same incident.<br>
***

In [11]:
df.shape

(33358, 27)

In [66]:
df.isnull().sum()

unique_mos_id                  0
first_name                     0
last_name                      0
command_now                    0
shield_no                      0
complaint_id                   0
month_received                 0
year_received                  0
month_closed                   0
year_closed                    0
command_at_incident         1544
rank_abbrev_incident           0
rank_abbrev_now                0
rank_now                       0
rank_incident                  0
mos_ethnicity                  0
mos_gender                     0
mos_age_incident               0
complainant_ethnicity       4464
complainant_gender          4195
complainant_age_incident    4812
fado_type                      0
allegation                     1
precinct                      24
contact_reason               199
outcome_description           56
board_disposition              0
dtype: int64

In [67]:
# Create a column with the first and last name
# Drop first_name and last_name columns after
df['OficerName'] = df.first_name + ' ' + df.last_name
# Drop unnecesary columns regarding officer names
df.drop(['first_name','last_name'],axis=1,inplace=True)

#### Percentage of missing values for each variable

In [68]:
df_null_percent = (df.isnull().sum()/df.shape[0]*100).sort_values(ascending=False)

In [69]:
df_null_percent

complainant_age_incident    14.425325
complainant_ethnicity       13.382097
complainant_gender          12.575694
command_at_incident          4.628575
contact_reason               0.596559
outcome_description          0.167876
precinct                     0.071947
allegation                   0.002998
unique_mos_id                0.000000
mos_gender                   0.000000
board_disposition            0.000000
fado_type                    0.000000
mos_age_incident             0.000000
mos_ethnicity                0.000000
command_now                  0.000000
rank_incident                0.000000
rank_now                     0.000000
rank_abbrev_now              0.000000
rank_abbrev_incident         0.000000
year_closed                  0.000000
month_closed                 0.000000
year_received                0.000000
month_received               0.000000
complaint_id                 0.000000
shield_no                    0.000000
OficerName                   0.000000
dtype: float64

Presenting the missing values in dataframe form

In [70]:
df_null_percent = df_null_percent.reset_index()

In [71]:
df_null_percent.rename(columns={0:"percentage"},inplace = True)

In [75]:
df_null_percent.head()

                      index  percentage
0  complainant_age_incident   14.425325
1     complainant_ethnicity   13.382097
2        complainant_gender   12.575694
3       command_at_incident    4.628575
4            contact_reason    0.596559

In [77]:
# Ignore columns with zero null percentage
zero_cond = df_null_percent['percentage'] != 0
df_null_percent = df_null_percent[zero_cond]
df_null_percent

                      index  percentage
0  complainant_age_incident   14.425325
1     complainant_ethnicity   13.382097
2        complainant_gender   12.575694
3       command_at_incident    4.628575
4            contact_reason    0.596559
5       outcome_description    0.167876
6                  precinct    0.071947
7                allegation    0.002998

In [79]:
df.dropna(subset=['precinct', 'contact_reason','allegation','outcome_description'],inplace = True)

In [87]:
df_null_percent = (df.isnull().sum()/df.shape[0]*100).sort_values(ascending=False)
df_null_percent = df_null_percent.reset_index()
df_null_percent.rename(columns={0:"percentage"},inplace = True)
df_null_percent = df_null_percent[zero_cond]
df_null_percent

                      index  percentage
0  complainant_age_incident   14.311194
1     complainant_ethnicity   13.241029
2        complainant_gender   12.452009
3       command_at_incident    4.510414
4             unique_mos_id    0.000000
5                mos_gender    0.000000
6         board_disposition    0.000000
7       outcome_description    0.000000

### Complainant Gender Distribution

In [88]:
# Replace values Not described and nan with Male
no_gender_dict = {np.nan:'Male','Not described':'Male'}
df.complainant_gender.replace(no_gender_dict, inplace = True)

In [89]:
df.complainant_gender.value_counts()

Male                     28083
Female                    4969
Transwoman (MTF)            20
Transman (FTM)               5
Gender non-conforming        2
Name: complainant_gender, dtype: int64

In [90]:
# Check for duplicates
print(df.duplicated().sum())
#df.duplicated()

632

In [91]:
df = df.drop_duplicates()

In [92]:
# Sanity check
print(df.duplicated().sum())

0

#### Officers with the most incidents on record

In [93]:
df.OficerName.value_counts()[:20]

Daniel Sbarra           75
Mathew Reich            74
Christophe Mccormack    70
Gary Messina            67
David Cheesewright      62
William Taylor          62
Mike Civil              54
Paul Mcmahon            53
Michael Raso            48
Matthew Lewis           47
Trevor Baronette        47
Michael Miller          45
Joseph Tallarine        45
David Grieco            45
Ricardo Bocachica       45
Kevin Martin            44
Kevin Matthews          44
John Rajan              44
Nikolaos Stefopoulos    43
Dion Edwards            43
Name: OficerName, dtype: int64

### Complainant Ethnicity Distribution

In [94]:
df.complainant_ethnicity.value_counts()

Black              16775
Hispanic            6289
White               2732
Unknown             1000
Other Race           661
Asian                518
Refused              255
American Indian       63
Name: complainant_ethnicity, dtype: int64

In [95]:
df.complainant_ethnicity.isnull().sum()

4154

In [96]:
# Rename Unknown, Other Race, Refused, with null 
# Drop all nulls
no_race_dict = {'nan':np.nan,'Refused':np.nan,'Unknown':np.nan,'Other Race':np.nan}
df.complainant_ethnicity = df.complainant_ethnicity.replace(no_race_dict)
df.dropna(subset=['complainant_ethnicity'],how='any',axis=0,inplace=True)

/Users/jorgegranda/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/Users/jorgegranda/anaconda3/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [97]:
df.complainant_ethnicity.value_counts()

Black              16775
Hispanic            6289
White               2732
Asian                518
American Indian       63
Name: complainant_ethnicity, dtype: int64

In [103]:
### Match complainant ethnicity to fado_type

In [112]:
Ethnicity_table = df.pivot_table(values='complaint_id',columns='complainant_ethnicity',index='fado_type',aggfunc='count')

In [113]:
Ethnicity_table.head()

complainant_ethnicity  American Indian  Asian  Black  Hispanic  White
fado_type
Abuse of Authority                  47    324  10188      3619   1647
Discourtesy                          8     86   2227       990    478
Force                                7     88   3975      1555    544
Offensive Language                   1     20    385       125     63

### A better way to display the ethnicity pivot table is with the percentage distribution

In [114]:
Total_eth=(Ethnicity_table['American Indian']+Ethnicity_table['Asian']+ Ethnicity_table['Black']+Ethnicity_table['Hispanic'] + Ethnicity_table['White'])
Ethnicity_table['American Indian%'] = round(Ethnicity_table['American Indian']/Total_eth * 100,2)
Ethnicity_table['Asian%'] = round(Ethnicity_table['Asian']/Total_eth * 100,2)
Ethnicity_table['Black%'] = round(Ethnicity_table['Black']/Total_eth * 100,2)
Ethnicity_table['Hispanic%'] = round(Ethnicity_table['Hispanic']/Total_eth * 100,2)
Ethnicity_table['White%'] = round(Ethnicity_table['White']/Total_eth * 100,2)
Ethnicity_table.drop(['American Indian', 'Black', 'White', 'Hispanic', 'Asian'],axis = 1, inplace = True)

In [115]:
Ethnicity_table['index']=np.arange(4)

In [116]:
Ethnicity_table.head()

complainant_ethnicity,American Indian%,Asian%,Black%,Hispanic%,White%,index
fado_type,,,,,,
Abuse of Authority,0.30,2.05,64.38,22.87,10.41,0
Discourtesy,0.21,2.27,58.78,26.13,12.62,1
Force,0.11,1.43,64.44,25.21,8.82,2
Offensive Language,0.17,3.37,64.81,21.04,10.61,3

### Officer gender distribution per fado_type

In [117]:
off_gender_percentage = df.pivot_table(values='complaint_id',columns='mos_gender',index='fado_type',aggfunc='count')

In [118]:
off_gender_percentage

mos_gender            F      M
fado_type
Abuse of Authority  958  14867
Discourtesy         223   3566
Force               229   5940
Offensive Language   32    562

In [119]:
# A general value count of fado type feature
df.fado_type.value_counts()

Abuse of Authority    15825
Force                  6169
Discourtesy            3789
Offensive Language      594
Name: fado_type, dtype: int64

### Officer gender distribution percentages

In [120]:
Total_gender = (off_gender_percentage['F'] + off_gender_percentage['M'])
off_gender_percentage['Female Officer %'] = round(off_gender_percentage['F']/Total_gender * 100,2)
off_gender_percentage['Male Officer %'] = round(off_gender_percentage['M']/Total_gender * 100,2)
off_gender_percentage.drop(['F','M'],axis=1,inplace=True)

In [121]:
off_gender_percentage

mos_gender          Female Officer %  Male Officer %
fado_type
Abuse of Authority              6.05           93.95
Discourtesy                     5.89           94.11
Force                           3.71           96.29
Offensive Language              5.39           94.61

In [8]:
# df.ComplaintID.value_counts()
# df.ShieldNo.value_counts()
#df.NYPDDisposition.value_counts()

In [105]:
# Replace negative values, 0s and 220 with the mean
#condition = df[(df.ImpactedAge >= 0.0) & (df.ImpactedAge <= 100)]
#condition = df[df.ImpactedAge >= 0.0]
#df.ImpactedAge.fillna(value = np.mean(df.ImpactedAge),inplace=True)
# df[condition] = np.nan
# df[condition2] = np.nan
#df.ImpactedAge.value_counts()
# Select Brooklyn
# condition_1 = df['neighbourhood_group'] == 'Brooklyn'

# # Select Prices that are higher than 500
# condition_2 = df['price'] > 500

# # Select all data that meets both requirments
# bk_high = df[condition_1 & condition_2]
# bk_high.head()
# No_race = {'nan':np.nan,'Refused':np.nan,'Unknown':np.nan,'Other Race':np.nan}
# df.ImpactedRace = df.ImpactedRace.replace(No_race)
# df.dropna(subset=['ImpactedRace'],how='any',axis=0,inplace=True)
# df.ImpactedRace.unique()

In [123]:
df.PenaltyRec.unique()

AttributeError: 'DataFrame' object has no attribute 'PenaltyRec'

In [40]:
df.ImpactedAge.fillna(value = np.mean(df.ImpactedAge), inplace = True)
#train_df1.item_cnt_day.fillna(train_df1.category_mean)

In [42]:
df.isnull().sum()

AsOfDate               179
AllegationID           179
OfficerRace            179
OfficerGender          179
OfficerID              179
CurrentRank            179
CurrentRankLong        179
CurrentCommand         179
IncidentRank           215
IncidentRankLong       215
IncidentCommand        265
DaysOnForce            179
Status                 179
LastActive             179
IncidentDate           185
FADOType               179
Allegation             179
CCRBDisposition        179
BoardCat               179
PenaltyRec          130019
NYPDDisposition     131021
PenaltyDesc         132298
LocationType          2872
ContactReason          179
ContactOutcome         179
IncidentPrecinct       179
ImpactedRace           179
ImpactedGender         179
ImpactedAge              0
OficerName             179
year_closed            179
month_closed           179
year_received          179
month_received         179
dtype: int64

In [57]:
df.columns

Index(['unique_mos_id', 'command_now', 'shield_no', 'complaint_id',
       'month_received', 'year_received', 'month_closed', 'year_closed',
       'command_at_incident', 'rank_abbrev_incident', 'rank_abbrev_now',
       'rank_now', 'rank_incident', 'mos_ethnicity', 'mos_gender',
       'mos_age_incident', 'complainant_ethnicity', 'complainant_gender',
       'complainant_age_incident', 'fado_type', 'allegation', 'precinct',
       'contact_reason', 'outcome_description', 'board_disposition',
       'OficerName'],
      dtype='object')

In [59]:
df['Officer_age_group'] =  round((df.mos_age_incident//10)*10 , 0)

In [60]:
df.Officer_age_group.value_counts()

30    13668
20     9542
40     3169
50      168
60        2
Name: Officer_age_group, dtype: int64

## Questions to ask the data

 ```
 Are officers with multiples allegetion allow to continue working?
 The types of complaints that are most common?
 The places where misconduct is prevalent?
 The affected communities?
 Compare rates of officer gender
 Compare rates of type of allegation
 See if what are the common substantiated cases/allegation mapping
 ```

***
#### Most commond type of misconduct
***

In [62]:
allegation_percentage = df.fado_type.value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
allegation_percentage

Abuse of Authority    60.0%
Force                 23.3%
Discourtesy           14.4%
Offensive Language     2.3%
Name: fado_type, dtype: object

In [63]:
Off_gender_dist = df.mos_gender.value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
Off_gender_dist

M    94.5%
F     5.5%
Name: mos_gender, dtype: object

In [99]:
gb = dff.groupby(['FADOType','Allegation','OfficerGender'])['AllegationID'].count()
gb = gb.reset_index()
gb.tail(5)

               FADOType          Allegation OfficerGender  AllegationID
182  Offensive Language                Race          Male          2066
183  Offensive Language            Religion        Female            17
184  Offensive Language            Religion          Male           113
185  Offensive Language  Sexual orientation        Female            26
186  Offensive Language  Sexual orientation          Male           371

,FADOType,Allegation,AllegationID
0,Abuse Of Authority,Abuse of Authority,5568
1,Abuse Of Authority,Arrest/D. A. T.,439
2,Abuse Of Authority,Arrest/Onlooker,171
3,Abuse Of Authority,Body Cavity Searches,18
4,Abuse Of Authority,Detention,617
5,Abuse Of Authority,Electronic device information deletion,28
6,Abuse Of Authority,Entry of Premises,1405
7,Abuse Of Authority,Failed to Obtain Language Interpretation,30
8,Abuse Of Authority,Failure to provide RTKA card,445
9,Abuse Of Authority,Forcible Removal to Hospital,825
63,Discourtesy,Action,2174
64,Discourtesy,Curse,9642
65,Discourtesy,Demeanor/tone,1130
66,Discourtesy,Discourtesy,3955
67,Discourtesy,Gay/Lesbian Slur,198
68,Discourtesy,Gesture,404
69,Discourtesy,Nasty Words,4458
70,Discourtesy,Other,213
71,Discourtesy,Other- Discourtesy,1429
72,Discourtesy,Profane Gesture,209
76,Force,Animal,29
77,Force,Beat,3559
78,Force,Chokehold,1770
79,Force,Dragged/Pulled,2351
80,Force,Flashlight as club,492
81,Force,Force,10167
82,Force,Gun as club,621
83,Force,Gun fired,410
84,Force,Gun pointed,4767
85,Force,Handcuffs too tight,697
103,Offensive Language,Black,2319
104,Offensive Language,Ethnic Slur,430
105,Offensive Language,Ethnicity,967
106,Offensive Language,Gender,744
107,Offensive Language,Gender Identity,13
108,Offensive Language,Hispanic,550
109,Offensive Language,Jewish,130
110,Offensive Language,Oriental,44
111,Offensive Language,Other,264
112,Offensive Language,Other - Ethnic Slur,724
119,Untruthful Statement,False official statement,1
120,Untruthful Statement,Inaccurate official statement,1
121,Untruthful Statement,Misleading official statement,1

In [58]:
gb.pivot_table(index = ['FADOType'], values = 'OfficerGender')
#weather_molten.pivot_table(index=['id', 'date'], columns='element', values='value')

/Users/jorgegranda/anaconda3/lib/python3.7/site-packages/pandas/core/apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

Empty DataFrame
Columns: []
Index: [Abuse Of Authority, Discourtesy, Force, Offensive Language]

In [60]:
condition = df.OfficerGender == 'Male'

In [63]:
gb2 = df.groupby('FADOType')['OfficerGender'].sum()

In [68]:
gb2 = gb2.reset_index()

In [18]:
# gb = pd.get_dummies(df, columns=['OfficerGender'])
# gb.head()
dff = pd.get_dummies(dff, columns =['OfficerGender'])
# gb = pd.get_dummies(gb, columns=['OfficerGender'])
# gb.head()
dff.head()

,AsOfDate,AllegationID,LastName,FirstName,OfficerRace,OfficerID,CurrentRank,CurrentRankLong,CurrentCommand,IncidentRank,...,ContactReason,ContactOutcome,IncidentPrecinct,ImpactedRace,ImpactedGender,ImpactedAge,ReceivedDate,CloseDate,OfficerGender_Female,OfficerGender_Male
0,4/20/2021,1119144,Ruscillo,Taylor,White,54191,POF,Police Officer,MTN PCT,POF,...,Report-domestic dispute,No arrest made or summons issued,PCT 018,Hispanic,Male,29.0,2/15/2021,4/9/2021,1,0
1,4/20/2021,1116090,Medina,Nelson,Hispanic,76926,POM,Police Officer,TB DT02,POM,...,C/V intervened on behalf of/observed encounter...,Arrest - other violation/crime,PCT 014,Black,Male,43.0,1/13/2021,3/9/2021,0,1
2,4/20/2021,1116091,Pierre,Bebeto,Black,76976,POM,Police Officer,TB DT02,POM,...,C/V intervened on behalf of/observed encounter...,Arrest - other violation/crime,PCT 014,Black,Male,43.0,1/13/2021,3/9/2021,0,1
3,4/20/2021,1115473,Chapman,John,White,18497,POM,Police Officer,075 PCT,POM,...,Report-domestic dispute,No arrest made or summons issued,PCT 075,NaN,Male,57.0,1/11/2021,3/10/2021,0,1
4,4/20/2021,1115475,Tafuro,Justin,White,19003,POM,Police Officer,075 PCT,POM,...,Report-domestic dispute,No arrest made or summons issued,PCT 075,NaN,Male,57.0,1/11/2021,3/10/2021,0,1

In [20]:
dff['OfficerGender_Female'].sum()

21902

In [21]:
dff['OfficerGender_Male'].sum()

257742

             FADOType OfficerGender  ComplaintID
0  Abuse Of Authority        Female         6015
1  Abuse Of Authority          Male        63477
2         Discourtesy        Female         2420
3         Discourtesy          Male        22754
4               Force        Female         3006
5               Force          Male        41879
6  Offensive Language        Female          435
7  Offensive Language          Male         4028

In [ ]:
# gb_boro_type = df.groupby(['boro_nm','ofns_desc','complaint_month']).agg({'cmplnt_num':'count'})#.sort_values(by= 'cmplnt_num',ascending=False).plot.bar(color = g_colors)
# gb_boro_type.sort_values(by = 'cmplnt_num', ascending = False,inplace = True)
# gb_boro_type.reset_index(inplace = True)
# gb_boro_type.head(30)

In [14]:
dff.columns

Index(['AsOfDate', 'AllegationID', 'OfficerRace', 'OfficerID', 'CurrentRank',
       'CurrentRankLong', 'CurrentCommand', 'IncidentRank', 'IncidentRankLong',
       'IncidentCommand', 'ShieldNo', 'DaysOnForce', 'Status', 'LastActive',
       'ComplaintID', 'IncidentDate', 'FADOType', 'Allegation',
       'CCRBDisposition', 'BoardCat', 'PenaltyRec', 'NYPDDisposition',
       'PenaltyDesc', 'LocationType', 'ContactReason', 'ContactOutcome',
       'IncidentPrecinct', 'ImpactedRace', 'ImpactedGender', 'ImpactedAge',
       'ReceivedDate', 'CloseDate', 'OficerName', 'OfficerGender_Female',
       'OfficerGender_Male'],
      dtype='object')

In [22]:
gb_sex_FADOType = dff.groupby(['FADOType','OfficerGender_Female','OfficerGender_Male']).agg({'ComplaintID':'count'})#.sort_values(by= 'cmplnt_num',ascending=False).plot.bar(color = g_colors)
gb_sex_FADOType = gb_sex_FADOType.reset_index()

In [25]:
gb_sex_FADOType

             FADOType  OfficerGender_Female  OfficerGender_Male  ComplaintID
0  Abuse Of Authority                     0                   1        63477
1  Abuse Of Authority                     1                   0         6015
2         Discourtesy                     0                   1        22754
3         Discourtesy                     1                   0         2420
4               Force                     0                   1        41879
5               Force                     1                   0         3006
6  Offensive Language                     0                   1         4028
7  Offensive Language                     1                   0          435

In [27]:
df.CCRBDisposition.value_counts()

Unsubstantiated                             46503
Exonerated                                  36743
Complainant Uncooperative                   17038
Unfounded                                   15603
Substantiated (Charges)                      6449
Complaint Withdrawn                          5885
Alleged Victim Uncooperative                 3125
Complainant Unavailable                      2992
Closed - Pending Litigation                  1600
Substantiated (Command Discipline)           1204
Miscellaneous - Subject Retired              1199
Alleged Victim Unavailable                   1012
Substantiated (Command Discipline A)          958
Substantiated (Formalized Training)           938
Miscellaneous - Subject Resigned              812
Substantiated (Command Discipline B)          789
Substantiated (Command Lvl Instructions)      426
Substantiated (Instructions)                  321
Miscellaneous                                 176
Miscellaneous - Subject Terminated             89
Substantiated (No Recommendations)             88
Victim Unidentified                            56
Witness Uncooperative                           5
Witness Unavailable                             3
Name: CCRBDisposition, dtype: int64

In [28]:

def ccrb_check(x):
    if 'unsubstantiated' in x.lower().split():
        return 'unsubstantiated'
    elif 'substantiated' in x.lower().split():
        return 'substantiated'
    elif 'exonerated' in x.lower().split():
        return 'exonerated'

In [30]:
df['CCRB_CHECK'] = df.CCRBDisposition.apply(lambda x: ccrb_check(x))

In [36]:
Twenty_not_exonerated = df[(df.CCRB_CHECK == 'substantiated') & (df.Age_group == 20)]['Name'].count()/df[df.Age_group == 20

SyntaxError: unexpected EOF while parsing (<ipython-input-36-77e3a81a7be5>, line 1)

In [124]:
df.columns

Index(['unique_mos_id', 'command_now', 'shield_no', 'complaint_id',
       'month_received', 'year_received', 'month_closed', 'year_closed',
       'command_at_incident', 'rank_abbrev_incident', 'rank_abbrev_now',
       'rank_now', 'rank_incident', 'mos_ethnicity', 'mos_gender',
       'mos_age_incident', 'complainant_ethnicity', 'complainant_gender',
       'complainant_age_incident', 'fado_type', 'allegation', 'precinct',
       'contact_reason', 'outcome_description', 'board_disposition',
       'OficerName'],
      dtype='object')

In [58]:
df.ImpactedAge.value_counts()

AttributeError: 'DataFrame' object has no attribute 'ImpactedAge'

In [60]:
dff['Age_group'] =  round((df.ImpactedAge//10)*10,2)
# plt.figure(figsize=(12, 8))
# sns.countplot(data = df ,y='Age_group',palette="twilight_r",orient='h')
# df.Age_group.unique()
# plt.savefig('Officer age group')

In [61]:
dff.head(10)

,AsOfDate,AllegationID,LastName,FirstName,OfficerRace,OfficerID,CurrentRank,CurrentRankLong,CurrentCommand,IncidentRank,...,ContactOutcome,IncidentPrecinct,ImpactedRace,ImpactedGender,ImpactedAge,ReceivedDate,CloseDate,OfficerGender_Female,OfficerGender_Male,Age_group
0,4/20/2021,1119144,Ruscillo,Taylor,White,54191,POF,Police Officer,MTN PCT,POF,...,No arrest made or summons issued,PCT 018,Hispanic,Male,29.0,2/15/2021,4/9/2021,1,0,20.0
1,4/20/2021,1116090,Medina,Nelson,Hispanic,76926,POM,Police Officer,TB DT02,POM,...,Arrest - other violation/crime,PCT 014,Black,Male,43.0,1/13/2021,3/9/2021,0,1,40.0
2,4/20/2021,1116091,Pierre,Bebeto,Black,76976,POM,Police Officer,TB DT02,POM,...,Arrest - other violation/crime,PCT 014,Black,Male,43.0,1/13/2021,3/9/2021,0,1,40.0
3,4/20/2021,1115473,Chapman,John,White,18497,POM,Police Officer,075 PCT,POM,...,No arrest made or summons issued,PCT 075,NaN,Male,57.0,1/11/2021,3/10/2021,0,1,NaN
4,4/20/2021,1115475,Tafuro,Justin,White,19003,POM,Police Officer,075 PCT,POM,...,No arrest made or summons issued,PCT 075,NaN,Male,57.0,1/11/2021,3/10/2021,0,1,NaN
5,4/20/2021,1114165,Clemmings,Barrington,Black,37080,POM,Police Officer,CW T TF,POM,...,No arrest made or summons issued,PCT 018,NaN,NaN,31.0,12/26/2020,3/9/2021,0,1,NaN
6,4/20/2021,1114886,Piechowicz,Tomasz,White,9635,POM,Police Officer,044 PCT,POM,...,No arrest made or summons issued,PCT 044,Unknown,Not described,NaN,1/4/2021,3/10/2021,0,1,NaN
7,4/20/2021,1114889,Piechowicz,Tomasz,White,9635,POM,Police Officer,044 PCT,POM,...,No arrest made or summons issued,PCT 044,Unknown,Not described,NaN,1/4/2021,3/10/2021,0,1,NaN
8,4/20/2021,1114166,Quinn,Brandon,Black,9650,POM,Police Officer,044 PCT,POM,...,No arrest made or summons issued,PCT 044,White,Female,22.0,12/24/2020,3/9/2021,0,1,20.0
9,4/20/2021,1114167,Quinn,Brandon,Black,9650,POM,Police Officer,044 PCT,POM,...,No arrest made or summons issued,PCT 044,White,Female,22.0,12/24/2020,3/9/2021,0,1,20.0

***
##### Pivot Table Used Here
***

In [ ]:
#Lastly we'll look at the commonest complainst per race
# pr = df.pivot_table(values='Name',columns='complainant_ethnicity',index='fado_type',aggfunc='count')

# Total_ethinc=(pr['American Indian']+pr['Asian']+ pr['Black']+pr['Hispanic'] + pr['White'])
# pr['American Indian%']= round( pr['American Indian']/Total_ethinc *100,2)
# pr['Asian%'] = round( pr['Asian']/Total_ethinc *100,2)
# pr['Black%'] = round( pr['Black']/Total_ethinc *100,2)
# pr['Hispanic%'] = round( pr['Hispanic']/Total_ethinc *100,2)
# pr['White%'] =  round( pr['White']/Total_ethinc *100,2)
# pr.drop(['American Indian','Black','White','Hispanic','Asian'],axis=1,inplace=True)
# pr['index']=np.arange(4)
# pr